
.page-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC; 
  
}
       .main-nav {
        @include centered-flex;
        @extend %container;
        @extend %width;

       @media screen and (max-width: 767px) {
        position: relative;
        padding: 10px 10px;
 }
}

          .main-nav-list { 
            @include centered-flex;
            @extend %width;
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 14px;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: 0.02em;
            justify-content: flex-start;
            width: 100%;
           
     @media screen and (max-width: 767px) {

                font-size: 18px;
                line-height: 1.17;
         }
     @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 16px;
        } }
    
    