
    
    .logo-studio {
        color: $title-text-color;
        font-size: 26px; 
        font-weight: 700; 
        line-height: 1.19;
        letter-spacing: 0.03em;
        }
    .logo { 
    font-family: 'Raleway', sans-serif;
    color:$accent-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: inline-block;
    }