
    
    .logo-studio {
        color: $title-text-color;
        font-size: 26px; 
        font-weight: 700; 
        line-height: 1.19;
        letter-spacing: 0.03em;
        }

.logo { 
    font-family: 'Raleway', sans-serif;
    color:$accent-color;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: inline-block;
   // width: 134px;
    padding: 16px 0px;

@media screen and (min-width: 768px) {
        padding: 26px 0px;
 }

@media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    width: 145px;
 }
}
