*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color:#212121;
}

p { 
    margin: 0;}

ul {
list-style-type: none;
padding: 0;
margin: 0;
}

form {
    display: block;
    margin-top: 0em;
} 
a {     
    text-decoration: none;
    color: inherit; 
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

h2 {
    
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;}

    footer {
        background: #2F303A;
        padding-top: 60px;
        padding-bottom: 60px;
         }